@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grad{
  background-image: url("/sombras.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh
}